# Virtual environment
venv/
env/
*.pyc
*.pyo
__pycache__/
*.egg-info/
dist/
build/
.idea/
.vscode/
*.db
*.sqlite3
*.log

-ipynb_checkpoints/
*.json
report.txt
*.png
__pycache__/

# TODO: check ignore for csv and pkl extensions when implement a MLOps pipeline
# *.csv
# *.pkl
